version: "3"
 

services:
  redis:
    image: redis
    ports:
      - 6379:6379
    container_name: redis
    volumes:
      - ./db/redis/data:/data
      #redis config file
      #- ./components/redis/config/redis.conf:/usr/local/redis/config/redis.conf
    environment:
      TZ: Asia/Shanghai
    restart: always
    sysctls:
      net.core.somaxconn: 1024
    command: redis-server --requirepass SSYY --appendonly yes